body {
    background-color: #333;
}

#escenario {
    /*width: 800px;
    height: 600px;
    margin: auto;
    background: url(../resources/laberinto.jpeg) no-repeat;
    position: relative;*/
    display: flex;
    flex-direction: column;
}

#escenario > div {
    margin: 10px auto;
}

#tablero {
    /* border: 5px solid springgreen; */
    width: 560px;
    height: 560px;
    float: right;
    margin: 14px 62px 0 0;
    background-color: rgba(255, 255, 255, 1);
}

.casilla {
    border-color: springgreen;
    border-width: 0;
    border-style: solid;
    width: 50px;
    height: 50px;
    float: left;
    font-size: 8px;
    text-align: center;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.casilla img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}

.casilla.posible {
    background-color: rgba(103, 27, 202, 0.5);
}

.linea_arriba {
    border-top-width: 5px;
}

.linea_derecha {
    border-right-width: 5px;
}

.linea_abajo {
    border-bottom-width: 5px;
}

.linea_izquierda {
    border-left-width: 5px;
}

.casilla.inicio {
    background-color: blue;
}

.casilla.final {
    background-color: tomato;
}

.casilla.final.posible {
    background-color: cyan;
}

.botonera {
    text-align: center;
}

#escenario > .personaje {
    width: 50px;
    height: 50px;
    border: 2px solid yellow;
    position: absolute;
    left: 127px;
    top: 20px;
}

#escenario > .personaje.error {
    border-color: red;
}

/*Campo para recibir datos para el movimiento en el laberinto*/

.recibir_datos {
    background-color: #fff;
    padding: 30px 10px;
}

.recibir_datos ul {
    list-style: none;
}

.recibir_datos textarea {
    width: 100%;
    min-height: 100px;
}

.ui-widget.ui-widget-content {
    width: 80% !important;
}

.recorrido {
    background-color: #fff;
    width: 80%;
    margin: 20px auto;
    border-radius: 15px;
    padding: 5px 10px;
}

.recorrido p {
    word-wrap: break-word;
}

#vista_recorrido i {
    border: 1px solid black;
    padding: 3px;
    border-radius: 2px;
    margin: 2px;
    display: inline-block;
    font-style: normal;
    line-height: 12px;
}

#vista_recorrido i.actual {
    border-color: red;
    background-color: darkred;
    color: #fff;
}